@font-face {
    font-family: 'Alef-Regular';
    src: url('../Font/Alef-Regular.ttf') format('truetype');
}

body {
    direction: rtl;
    background-image: url('../Images/newbackgroung.png');
    background-repeat: no-repeat;
    background-size: 1100px;
    background-position: center;
    margin-bottom: 650PX;
}
#container{
    width:960px;
    margin: 0 auto;
}
nav{
    position:absolute;
    margin-top:80px;
    margin-right:220px;
}
ul{
    list-style:none;
    

}
nav ul li{
    display:inline-block;
    float:right;


}
nav ul li a{
    border:1px solid black;
    text-decoration:none;
    background-color:dimgray;
    color:white;
    padding:11px;
  font-family:'Open Sans Hebrew';
     
     border-collapse:collapse;
}
 #h1home{
     color:black;
        font-family:'Open Sans Hebrew';
     position:absolute;
     margin-right:150px;
     margin-top:20px;
     font-size:28pt;
     
 }
 
 

 #miani {
     color:black;
     font-family:'Open Sans Hebrew';
     direction:rtl;
     position:absolute;
     margin-right:230px;
     margin-top:200px;
     width:300px;
     height:400px;
     text-align:justify;
     line-height:130%;
     background-image:url(../Images/profile.png);
    background-repeat:no-repeat;
     background-size:400px;
     background-position:bottom;

 }
 #miani h2{
     font-family:'Open Sans Hebrew';
 }
 #miani p{
     font-family:'Open Sans Hebrew';
 }
#facelink {
    background-image: url('../Images/facebook-logo.png');
    background-repeat:no-repeat;
    background-size:100px;
    position:absolute;
    display:inline-block;
    padding:44px;
    margin-top:730px;
    margin-right:570px;
    background-position:bottom;
}

#facelink:hover{
    background-position:top;
    
}

#instalink {
    background-image: url('../Images/icon-instagram-black.png');
    background-repeat:no-repeat;
    background-size:35px;
    position:absolute;
    display:inline-block;
    padding:18px;
    margin-top:750px;
    margin-right:550px;
    background-position:bottom;
}

#instalink:hover{
    background-position:top;
}

nav ul li a:hover{
    background-color:black;
}
.open{
    background-color:black;
}

#youtube{
    width:390px;
    height:250px;
  margin-top:480px;
  margin-right:208px;
  position:absolute;
  display:inline-block;
}

#hazutitimg{
    width:390px;
    height:250px;
     margin-top:225px;
  margin-right:208px;
  position:absolute;
  display:inline-block
}

#explhazutit{
    margin-top:116px;
    color:black;
    font-family:'Open Sans Hebrew';
     margin-right:220px;
     padding-top:10px;
  position:absolute;
  display:inline-block;
  width:360px;
  text-align:justify;
}

#imgalphon{
    width:320px;
    height:235px;
     margin-top:125px;
  margin-right:208px;
  position:absolute;
  display:inline-block
}

#explalphon{
    margin-top:120px;
    color:black;
    font-family:'Open Sans Hebrew';
     margin-right:533px;
  position:absolute;
  display:inline-block;
  text-align:justify;
  width:217px;
  line-height:130%;

}

#imggraphic{
     width:175px;
    height:245px;
     margin-top:120px;
  margin-right:210px;
  position:absolute;
  display:inline-block

}
#explgraphic{
    margin-top:115px;
    color:black;
   font-family:'Open Sans Hebrew';
     margin-right:405px;
  position:absolute;
  display:inline-block;
  text-align:justify;
  width:330px;
  line-height:130%;

}

#sntgraphic{
 width:320px;
 display:block;
font-size:10.5pt;
}

#h1graphic {
    color: black;
    font-family:'Open Sans Hebrew';
    position: absolute;
    margin-right: 420px;
    margin-top: 20px;
    font-size: 28pt;
}
#h1alphon{
    color:black;
       font-family:'Open Sans Hebrew';
     position:absolute;
     margin-right:353px;
     margin-top:20px;
     font-size:28pt;
}
#h1hazutit{
    color:black;
       font-family:'Open Sans Hebrew';
     position:absolute;
     margin-right:260px;
     margin-top:20px;
     font-size:28pt;
}

#audio{
    position:absolute;
    margin-top:335px;
    margin-right: 255px;
}@font-face {
    font-family: 'Alef-Regular';
    src: url('../Font/Alef-Regular.ttf') format('truetype');
}

body {
    direction: rtl;
    background-image: url('../Images/newbackgroung.png');
    background-repeat: no-repeat;
    background-size: 1100px;
    background-position: center;
    margin-bottom: 650PX;
}
#container{
    width:960px;
    margin: 0 auto;
}
nav{
    position:absolute;
    margin-top:80px;
    margin-right:220px;
}
ul{
    list-style:none;
    

}
nav ul li{
    display:inline-block;
    float:right;


}
nav ul li a{
    border:1px solid black;
    text-decoration:none;
    background-color:dimgray;
    color:white;
    padding:11px;
  font-family:'Open Sans Hebrew';
     
     border-collapse:collapse;
}
 #h1home{
     color:black;
        font-family:'Open Sans Hebrew';
     position:absolute;
     margin-right:150px;
     margin-top:20px;
     font-size:28pt;
     
 }
 #aodot{
     color:black;
     font-family:'Open Sans Hebrew';
     direction:rtl;
     position:absolute;
     margin-top:180px;
     margin-right:210px;
     border:2px double black;
     padding:4px;
    text-align:justify;
    width:355px;
    height:100px;
    line-height:130%;
 }

#facelink {
    background-image: url('../Images/facebook-logo.png');
    background-repeat:no-repeat;
    background-size:100px;
    position:absolute;
    display:inline-block;
    padding:44px;
    margin-top:730px;
    margin-right:530px;
    background-position:bottom;
}

#facelink:hover{
    background-position:top;
    
}

#instalink {
    background-image: url('../Images/icon-instagram-black.png');
    background-repeat:no-repeat;
    background-size:35px;
    position:absolute;
    display:inline-block;
    padding:18px;
    margin-top:750px;
    margin-right:510px;
    background-position:bottom;
}

#instalink:hover{
    background-position:top;
}

nav ul li a:hover{
    background-color:black;
}
.open{
    background-color:black;
}

#youtube{
    width:390px;
    height:250px;
  margin-top:480px;
  margin-right:208px;
  position:absolute;
  display:inline-block;
}

#hazutitimg{
    width:390px;
    height:250px;
     margin-top:225px;
  margin-right:208px;
  position:absolute;
  display:inline-block
}

#explhazutit{
    margin-top:116px;
    color:black;
    font-family:'Open Sans Hebrew';
     margin-right:220px;
     padding-top:10px;
  position:absolute;
  display:inline-block;
  width:360px;
  text-align:justify;
}


   #imgalphon {
    width: 620px;
    height: 435px;
    margin-top: 125px;
    margin-right: 93px;
    position: absolute;
    display: inline-block;
}

#explalphon {
    margin-top: 566px;
    color: black;
    font-family: 'Open Sans Hebrew';
    margin-right: 93px;
    position: absolute;
    display: inline-block;
    text-align: justify;
    width: 612px;
    line-height: 130%;
}

#imggraphic{
     width:350px;
    height:455px;
     margin-top:140px;
  margin-right:28px;
  position:absolute;
  display:inline-block

}
#explgraphic{
    margin-top:137px;
    color:black;
   font-family:'Open Sans Hebrew';
     margin-right:405px;
  position:absolute;
  display:inline-block;
  text-align:justify;
  width:330px;
  line-height:130%;

}

#sntgraphic{
 width:320px;
 display:block;
font-size:10.5pt;
}

#h1graphic {
    color: black;
    font-family:'Open Sans Hebrew';
    position: absolute;
    margin-right: 330px;
    margin-top: 20px;
    font-size: 28pt;
}
#h1alphon{
    color:black;
       font-family:'Open Sans Hebrew';
     position:absolute;
     margin-right:265px;
     margin-top:20px;
     font-size:28pt;
}
#h1hazutit{
    color:black;
       font-family:'Open Sans Hebrew';
     position:absolute;
     margin-right:260px;
     margin-top:20px;
     font-size:28pt;
}

#audio{
    position:absolute;
    margin-top:635px;
    margin-right: 255px;
}