body 
{
    direction:rtl;
    background-image:url(../image/red-pill-or-blue-pill1.png);
    background-repeat:no-repeat;
    background-size:1100px;
    background-position:250px;
    background-position-y:100px;
    background-color:black;
    
    
}

#container {
    width:960px;
    margin: 0 auto;


}

#machon {
    background-image: url('../image/bluepills.png');
    background-size: 200px;
    background-repeat:no-repeat;
    position:absolute;
    padding: 100px;
    padding-top:0px;
    margin-right: 130px;
    margin-top:-240px;
  

}

label{
    color:white;
   
       
}
form{
    height:40px;
    margin-top:600px;
    position:center;
    
}
#logo {
    background-image: url('../image/logo_HIT.png');
     background-size: 180px;
    background-repeat:no-repeat;
    position:absolute;
    padding: 150px;
    padding-top:0px;
    margin-right:-350px;
    margin-top:-580px;
}

#machon:hover {
    background-image: url('../image/bluepills.png');
    background-repeat:no-repeat;
    background-size:200px;
    background-position:bottom;
    padding:100px;
    position:absolute;
    margin-top:-336px;
}