body 
{
    direction:rtl;
    background-color:black;
   
}

#container {
    width:1660px;
    margin: 0 auto;
   background-image:url(../image/red-pill-or-blue-pill1.png);
    background-repeat:no-repeat;
    background-size:1400px;
    background-position:250px;
    background-position-y:100px;


}

#machon {
    background-image: url('../image/bluepills.png');
    background-size: 200px;
    background-repeat:no-repeat;
    padding: 130px;
    padding-top:0px;
    margin-right: 230px;
    margin-top:460px;
    display:inline-block;

  

}

label{
    color:white;
   
       
}
form{
    height:40px;
    margin-top:230px;
    margin-right:250px;
    
}
#logo {
    background-image: url('../image/logo_HIT.png');
     background-size: 180px;
    background-repeat:no-repeat;
    display:inline-block;
    padding: 150px;
    padding-top:0px;
    margin-right:-100px;
    margin-top:110px;
    position:absolute;
}

#machon:hover {
    background-position:bottom;
     background-size: 200px;
    background-repeat:no-repeat;
    margin-top:434px;
    margin-bottom:26px;
    margin-right:260px;

    
  
   
}
h1{
    font-family:Alef;
    font-size:40pt;
    color:white;
    position:absolute;
    display:inline-block;
    margin-top:150px;
    margin-right:310px;
}