body {
    direction: rtl;  
    font-family:Arial;   
}
#container{
    background-image: url('../images/Rekab.png');
    background-repeat:no-repeat;
    height:566px;
    width:1230px;
        background-size:cover;
    direction: rtl;
    text-align:center;
    margin:20px auto;
}
nav.tabs ul
{
    padding:0;
    margin:0;
    list-style:none;
}

nav.tabs ul li
{
    display:inline-block;
}

nav.tabs ul li a
{
    color:white;
    text-decoration:none;
    
    display:block;
    width:135px;
    height:30px;
    text-align:center;  

    padding-top:10px;
    background-color:palevioletred;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-topright: 20px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-radius: 20px 20px 0px 0px;
    border-radius: 20px 20px 0px 0px; 
}
nav.tabs ul li a.open
{
     background-color:pink;
     color:black
}

nav.tabs ul li a:hover
{
    background-color:lightpink;
}
nav.tabs ul li a.open:hover
{
    background-color:lightpink;
}

nav.tabs ul li a:active
{
    background-color:hotpink;
}

.page1{
    line-height:150%;
    background-color:lavender;
    padding:20px;
    height:300px;
    width:510px;
    margin-right:340px;
        -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 30px;
    -moz-border-radius-bottomleft: 30px;
    -webkit-border-radius: 0px 0px 10px 10px;
    border-radius: 0px 0px 10px 10px;
 
}
#coteret{
    font-size:22pt;
}
h2
{
    padding:0;
    margin:0;
}
.piska{
    padding-top:60px;
    line-height:200%;
}
.ul{
    list-style-image:url('../images/lev.gif');
    padding-right:200px;
    text-align:right;   
    padding-top:40px;
    font-size:18pt;
    line-height:150%;
}